In [65]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
from pprint import pprint
from config import gkey
import time

In [88]:
#Import City CSV and Check file format
city_df=pd.read_csv("CSV_Data_Files/us_cities_list.csv")
city_df.head()

            city state          city_state         country
0       New York    NY       New York,  NY   United States
1  San Francisco    CA  San Francisco,  CA   United States
2       Honolulu    HI       Honolulu,  HI   United States
3      Anchorage    AK      Anchorage,  AK   United States
4       Brooklyn    NY       Brooklyn,  NY   United States

In [67]:
#Turn two lists into CSVs that we import (2 cities and select keyword searches for now for illustration)
cities = city_df["city_state"]
interest_type = ["hotel","amusement_park","bar","cafe","casino","museum","night_club","restaurant","shopping_mall","spa","stadium","zoo"]

places_df = pd.DataFrame([])

for city in cities:
    location= city
    
    for interest in interest_type:
        item = interest
        
        try:

            query=item+" in "+location

            # Build URL and Generate Call
            url="https://maps.googleapis.com/maps/api/place/textsearch/json?query="+query+"&key="+gkey
            response_json = requests.get(url).json()

            #Pull Data from Call and generate lists (**WE CAN ADD STUFF HERE**) 
            name = [item["name"] for item in response_json["results"]]
            rating = [item["rating"] for item in response_json["results"]]

            #Generate Initial DataFrame
            places_df = places_df.append(pd.DataFrame({"name":name,
                                                       "rating":rating, 
                                                       "Interest Type": interest, 
                                                       "City": location}), ignore_index = True)

        except:
            print("not found")

        continue

KeyError: 'city_state'

In [22]:
#Build out Counts & Averages 
places_df.head()

                                      name  rating Interest Type      City
0                                The Plaza     4.5         hotel  New York
1              Four Seasons Hotel New York     4.6         hotel  New York
2  The Ritz-Carlton New York, Central Park     4.5         hotel  New York
3              Mandarin Oriental, New York     4.6         hotel  New York
4                           Baccarat Hotel     4.6         hotel  New York

In [24]:
#Write Data from Places Call to CSV
places_df.to_csv("Output/city_interest_data.csv", index=False, header=True)

In [110]:
#Develop Data Frame ot the Ratings Summary by City and Interest

#Groupby City & Interest Type
places_count_df = places_df.groupby(['City', 'Interest Type'])

#Summary Calculations
count_ratings = places_count_df['rating'].count()
average_ratings = round(places_count_df['rating'].mean(),2)

In [111]:
#insert code to count ratings greater than three to add to dataframe below
#places_count_df[places_count_df['rating'] > 3].groupby('City')['Interest Type'].count()

In [112]:
#Final Data Frame
summary_rating = pd.DataFrame({'Total Rating Counts': count_ratings, 
                               'Average of Ratings': average_ratings})

summary_rating["city_sort"] = summary_rating.index.get_level_values(0)
summary_rating["interest_sort"] = summary_rating.index.get_level_values(1)

summary_rating.head(20)

                            Total Rating Counts  Average of Ratings  \
City        Interest Type
Albany      amusement_park                    6                4.38
            bar                              20                4.38
            cafe                             20                3.65
            casino                            9                3.30
            hotel                            20                4.11
            museum                           20                4.12
            night_club                       20                4.12
            restaurant                       20                4.51
            spa                              20                3.96
            stadium                          18                3.38
            zoo                              15                3.85
Albuquerque amusement_park                    2                3.85
            bar                              20                4.24
            cafe                             20                4.42
            casino                           20                3.71
            hotel                            20                3.79
            museum                           20                4.53
            night_club                       20                3.20
            restaurant                       20                4.55
            shopping_mall                     2                4.10

                              city_sort   interest_sort
City        Interest Type
Albany      amusement_park       Albany  amusement_park
            bar                  Albany             bar
            cafe                 Albany            cafe
            casino               Albany          casino
            hotel                Albany           hotel
            museum               Albany          museum
            night_club           Albany      night_club
            restaurant           Albany      restaurant
            spa                  Albany             spa
            stadium              Albany         stadium
            zoo                  Albany             zoo
Albuquerque amusement_park  Albuquerque  amusement_park
            bar             Albuquerque             bar
            cafe            Albuquerque            cafe
            casino          Albuquerque          casino
            hotel           Albuquerque           hotel
            museum          Albuquerque          museum
            night_club      Albuquerque      night_club
            restaurant      Albuquerque      restaurant
            shopping_mall   Albuquerque   shopping_mall

In [114]:
#Write Final Dataset to CSV
summary_rating.to_csv("Output/city_interest_rating_summary.csv", index=False, header=True)

In [74]:
#TO BE WORKED ON
#Lana's code to prompt interest from user

#Prompt User to Select Area of Interest

##*** check tomorroww to see what Lana added ***

area_int=input("Please enter the area of your interests(all,dining,shopping,museums,sports,spas):")
    
if area_int== "all":
    int_type=input("Please enter place type (hotel,amusement_park,bar,cafe,casino,museum,night_club,restaurant,shopping_mall,spa,stadium,zoo): ")
elif area_int== "dining":
    int_type=input("Please enter place type (bar,cafe,casino,night_club,restaurant): ")
elif area_int== "shopping":
    int_type=input("Please enter place type (shopping_mall): ")
elif area_int== "museums":
    int_type=input("Please enter place type (museums,zoo): ")
elif area_int=="sports":
    int_type=input("Please enter place type (amusement_park,stadium): ")
elif area_int=="spas":
    int_type=input("Please enter place type (spas): ")

Please enter the area of your interests(all,dining,shopping,museums,sports,spas):dining
Please enter place type (bar,cafe,casino,night_club,restaurant): bar